@media (max-width: 1028px){
  #title {
    text-align: center;
  }
  .img-title {
    position: static;
    transform: rotate(0);
  }
}

#title {
  background-color: #ff4c68;
}
/* navbar */
.navbar {
  padding: 0 14.5%;
}
.navbar-brand {
  font-size: 2.5rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;

}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-family: "Montserrat"
}
/* title */
.download-button {
  margin: 20px;
  margin-left: 0;
}
.img-title {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  left: 7%;

}
body {
  font-family: "Montserrat"
}
.container-fluid-ttl {
  padding: 3% 15% 5%;
}
h1 {
  font-family: 'Montserrat',sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
  font-weight: 900;
}

/* features */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.ftrs-items {
  text-align: center;
  padding: 0 30px;
}
.ftr-icons {
  color: #ef8172;
  margin-bottom: 15px;
}
.ftr-icons:hover {
  color: #ff4c68;
}
h3 {
  font-size: 1.5rem;
  font-family: "Montserrat",sans-serif;
  font-weight: 900;
}

h2 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
}
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}
.testi-img {
  width: 10%;
  border-radius: 100%;
}
.carousel-item {
  padding: 7% 15%;
}
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 4%;
}
.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* ID Section */
#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 5% 25%;
  color: white;
}
.cta-font {
  font-size: 2.5rem;
  font-weight: 900;
}

#footer {
  background-color: #fff;
  text-align: center;
  padding: 3% 25%;
}
.footer-icons {
  padding: 10px 15px;
}
